*.log
*.swp

# Altium Designer files
board*/__Previews
board*/History
board*/Project Logs*
board*/*PrjPcbStructure
board*/Design Rule Check - *
board*/Project Outputs for *
board*/*.txt
board*/*.pdf
board*/*.OutJob

# SolidWorks temporary files
3d-body/*/~$*

# Visual Studio files
.vs/
